<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Component scanning and AOP support -->
    <context:component-scan base-package="com.library"/>
    <aop:aspectj-autoproxy/>

    <!-- Define beans -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>
    <bean id="bookService" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Logging Aspect -->
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>

    <!-- AOP Configuration -->
    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:pointcut id="serviceMethods" expression="execution(* com.library.service.*.*(..))"/>
            <aop:before method="logBefore" pointcut-ref="serviceMethods"/>
            <aop:after method="logAfter" pointcut-ref="serviceMethods"/>
        </aop:aspect>
    </aop:config>
</beans>
